.GalleryCard {
    width: 100%;
    aspect-ratio: 1/1.5;
    padding: 0.25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    transition: padding 0.3s ease;
}

.Card-Img {
    width: 90%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 1vh;
    border: 0.3vh solid var(--dark-color);
}

.Card-Info {
    margin: 5% 0;
    width: 90%;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}

.Card-Title {
    font-size: 3vh;
    color: var(--dark-color);
}

.Card-Description {
    font-size: 1.5vh;
    color: var(--dark-color);
}

.Card-Tag-Container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 0.5vh;
    column-gap: 1vh;
}

.Card-Tag {
    background-color: var(--green);
    border-radius: 1vh;
    border: 0.3vh solid var(--dark-color);
    padding: 0.5vh;
    font-size: 1.5vh;
    color: var(--dark-color);
}


.GalleryCard:hover {
    padding: 0;
}

@media screen and (max-width: 640px) {
    .GalleryCard {
        height: fit-content;
        aspect-ratio: auto;
    }
}