.Body {
  background-color: #3183DC;
  background-image:
          url("/public/images/trees.png"),
          url("/public/images/water.png"),
          url("/public/images/clouds.png"),
          url("/public/images/sky.png"),
          linear-gradient(to bottom, #3183DC 50%, #54A0F2 50%);
  background-size: 110% auto, 110% auto, 110% auto, 120% auto, cover;
  background-position: center, center, center, center, center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
    min-height: 650px;
}

.MainPageContainer {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-top: 2vh;
}

.Copyright {
    text-align: center;
}